#playground {
  margin-left: auto;
  margin-right: auto;
  background-color: #7699a7;
  position: relative;
}

#food {
  background-color: orange;
  position: absolute;
}

.snakeBodyCell {
  background-color: rgb(222, 225, 36);
  position: absolute;
}
